<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <title>Aline Financial</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <style type="text/css">
        html, body {
            background-color: #ffffff;
            font-family: 'Open Sans', sans-serif;
            margin: 0;
            padding: 0;
        }

        .text-primary {
            color: #2d70ca;
        }

        .text-success {
            color: #1bba47;
        }

        .text-danger {
            color: #ef2100;
        }

        .sub-text {
            font-size: 12px;
        }

        .bg-dark {
            background-color: #242424;
        }

        .bg-light {
            background-color: #efefef;
        }

        .header {
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .content {
            width: 100%;
        }

        .text-center {
            text-align: center;
        }

        .header-text {
            font-weight: 700;
            letter-spacing: 2px;
            font-size: 25px;
        }

        .bg-primary {
            background-color: #2d70ca;
        }
    </style>
</head>
<body>
<!--Header-->
<table class="header bg-dark">
    <tr>
        <td height="5">&nbsp;</td>
    </tr>
    <tr style="text-align: center" align="center">
        <td>
            <a href="{{landingPortalUrl}}" style="text-decoration: none">
                <img src="https://aline-images.s3.us-east-2.amazonaws.com/full-logo.png" alt="logo" width="300"/>
            </a>
        </td>
    </tr>
    <tr>
        <td height="5">&nbsp;</td>
    </tr>
</table>

<!-- Main Content -->
<table class="content">
    <tr>
        <!-- Left margin -->
        <td width="10%">&nbsp;</td>

        <!-- Main content -->
        <td>
            <table align="center">
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div align="center" class="text-center header-text" style="font-family: 'Montserrat', sans-serif;">
                            Hello, <span class="text-primary">${name}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div align="center" style="font-size: 20px; font-weight: 500;">
                            Welcome to Aline Financial
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="line-height: 35px">
                        <div style="width: 100%; height: 2px; background-color: #dfdfdf"></div>
                    </td>
                </tr>
                <tr>
                    <td height="10">&nbsp;</td>
                </tr>
                <tr>
                    <td height="10">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div align="center" style="text-align: center">
                            Congratulations! Your application has been <span class="text-success" style="font-weight: 700">approved</span>.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div align="center" style="text-align: center">
                            Your membership number is:

                            <div style="letter-spacing: 8px; margin: 10px; font-size: 25px">
                                <span class="text-primary" style="font-weight: bold">${membershipId}</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-center text-danger sub-text">Do not share this number with anyone.</td>
                </tr>
                <tr>
                    <td>
                        <div class="text-center sub-text" style="color: #888888">
                            Your membership number is used to create your Member Dashboard account.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td align="center">
                        <div class="text-center" style="width: 300px">
                            <img src="https://aline-images.s3.us-east-2.amazonaws.com/phone_and_card.png" style="width: 300px" width="300" alt="image"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div style="font-family: 'Montserrat', sans-serif; font-weight: 500; color: #888888;" class="text-center">
                            Bring your bank wherever you go.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div class="text-center" style="font-size: 20px">
                            Start using your <span style="font-weight: 700;" class="text-primary">Member Dashboard</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table class="bg-primary" style="border-radius: 5px" align="center">
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td style="color: #efefef; font-size: 25px">
                                    <a href="{{memberDashboardUrl}}" style="text-decoration: none; color: #efefef">Get Started</a>
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>

        <!-- Right margin -->
        <td width="10%">&nbsp;</td>
    </tr>
</table>

<!-- Footer -->
<table class="bg-dark" width="100%">
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <table width="100%" align="center">
                <tr>
                    <td class="text-center">
                        <a href="{{landingPortalUrl}}" style="text-decoration: none">
                            <img src="https://aline-images.s3.us-east-2.amazonaws.com/full-logo.png" alt="logo" width="200"/>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div class="text-center" style="color: #dfdfdf">
                            Email Us:
                            <div>
                                <a href="mailto:aline-financial@mail.com" style="color: #888888">aline-financial@mail.com</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
</table>
</body>
</html>
